body,
html {
  scrollbar-gutter: stable;
  @apply bg-black;
}

/* Scrollbar */
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #212121;
}

body::-webkit-scrollbar {
  width: 8px;
  scrollbar-width: thin;
  background-color: #ffffff10;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  padding: 1px;
  background-color: #ffffff25;
}

/* NProgress */
#nprogress .bar {
  background: #eab308 !important;
}
